* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    background-color: #121212;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
}

p {
    margin: 0 0 10px;
}

.tabs {
    max-width: 600px;
    margin: 0 auto;
}

.tabs__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 0 0 10px white;
}

.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 20px;

    background: linear-gradient(90deg, #3ed0ff, #2879e6);
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
    color: #fff;

}




.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ddd;
}

.tabs__nav-btn.active {
    outline: none;

}

.tabs__content {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px white;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}